@font-face {
    font-family: "Playfair Display";
    src: url("../fonts/PlayfairDisplay-Regular.ttf");
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/HelveticaNeueCyr-Light.ttf");
}

@font-face {
    font-family: "Futura PT Book";
    src: url("../fonts/Futura_PT_Book.ttf");
}
