@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
    border-bottom: 1px solid #babec2;
}

.menu {
    // .menu__title
    color: #485058;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    @media (max-width: 1100px) {
        justify-content: left;
    }
    @media (max-width: 360px) {
        padding-top: 8px;
    }
    &__title {
        font-family: "Helvetica Neue";
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: 0.9px;
        line-height: 20px;
        text-transform: uppercase;
        flex-basis: 20%;
        margin: 8px 25px 0 40px;
        @media (max-width: 1100px) {
            flex-basis: auto;
        }

        @media (max-width: 700px) {
            display: none;
        }
    }

    &__list-wrap {
        flex-basis: 54%;
        @media (max-width: 1100px) {
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.6);
            z-index: 10;
            padding-left: 65px;
        }
    }

    .list-logo {
        display: none;
        padding: 15px;
        background-color: #efefef;
        & a {
            display: block;
            margin: 0 auto;
            width: 180px;
            @media (max-width: 360px) {
                width: 135px;
            }
        }
        @media (min-width: 1100px) {
            display: none !important;
        }
        @media (max-width: 360px) {
            padding-top: 8px;
        }
    }

    &__navbar {
        @media (min-width: 1100px) {
            overflow: unset;
        }
        @media (max-width: 1100px) {
            height: 100%;
            overflow: auto;
        }
    }

    // .menu__list

    &__list {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
        @media (max-width: 1100px) {
            background-color: #ffffff;
            margin-top: 0;
            height: 100%;
            padding: 25px;
            display: block;
        }
    }

    &__list-item {
        position: relative;
        @media (max-width: 1100px) {
            & a {
                border-bottom: 1px solid #cccccc;
            }
        }
    }

    // .menu__list-links

    &__list-links {
        font-family: "Helvetica Neue";
        font-size: 16px;
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
        line-height: 16px;
        padding: 12px;
        display: block;
        transition: 0.2s ease;
        @media (max-width: 768px) {
            font-size: 18px;
            padding: 16px;
        }
        &:hover {
            color: #dc1414;
        }
        &--burger-icon {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                display: block;
                background-image: url(../images/Hamburger_Menu.svg);
                width: 12px;
                height: 9px;
                top: 16px;
                left: -10px;
                @media (max-width: 1100px) {
                    content: ">";
                    background-image: none;
                    top: 12px;
                    left: unset;
                    right: 0;
                }
            }
        }
    }

    &__list-item {
        &:hover {
            & .menu__submenu {
                display: block;
            }
        }
    }

    // .menu__submenu

    &__submenu {
        position: absolute;
        background-color: #ffffff;
        top: 40px;
        left: -10px;
        padding: 10px 0 10px !important;
        width: 250px;
        display: none;
        box-shadow: 0 0 10px #babec2;
        z-index: 10;
        &--position-right {
            left: unset;
            right: 0;
            text-align: right;
            @media (max-width: 1100px) {
                text-align: unset;
            }
        }
        @media (max-width: 1100px) {
            position: unset;
            width: unset;
            display: none;
            box-shadow: unset;
            padding: 14px !important;
        }
    }

    &__submenu-links {
        padding: 10px;
        display: block;
        &:hover {
            box-shadow: 0 3px 3px #babec2;
            @media (max-width: 1100px) {
                box-shadow: unset;
            }
        }
        @media (max-width: 768px) {
            padding: 14px;
        }
    }

    // .menu__btn

    &__btn {
        display: none;
        @media (max-width: 1100px) {
            display: block;
            position: absolute;
            right: 15px;
            background-color: transparent;
            border: none;
        }
    }

    &__cancel-btn {
        display: none;
        position: absolute;
        width: 40px;
        top: 25px;
        left: 10px;
        background-color: transparent;
        border: none;
        @media (max-width: 360px) {
            width: 32px;
            top: 22px;
            left: 18px;
        }
    }
}

// section

.content {
    // .content__header
    &__header {
        padding-top: 20px;
        padding-bottom: 19px;
    }

    // .content__top

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Helvetica Neue";
        color: #485058;
        font-size: 16px;
        @media (max-width: 420px) {
            font-size: 14px;
        }
    }

    // .content__order-call

    &__order-call {
        color: #dc1414;
        border-bottom: 1px dashed #dc1414;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
        }
        @media (max-width: 360px) {
            font-size: 13px;
        }
        @media (max-width: 320px) {
            font-size: 12px;
        }
    }

    // .content__social

    &__social {
        display: flex;
        justify-content: space-between;
        width: 440px;
        @media (max-width: 768px) {
            width: unset;
            flex-basis: 68%;
        }
    }

    // .content__social-item

    &__social-item {
        margin-left: 25px;
        position: relative;
        transition: 0.3s ease;
        display: block;
        @media (max-width: 670px) {
            margin-left: 20px;
            padding-right: 15px;
            & .social__item {
                display: none;
            }
        }
    }

    // .content__social-item--whatsup

    &__social-item--whatsup {
        &:hover {
            color: #25d366;
            font-weight: 600;
        }
        &::before {
            content: "";
            background-image: url("../images/whatsup.svg");
            position: absolute;
            width: 25px;
            height: 25px;
            display: block;
            left: -35px;
            top: -5px;
            @media (max-width: 670px) {
                left: unset;
            }
        }
    }

    // .content__social-item--telegram

    &__social-item--telegram {
        &:hover {
            color: #0088cc;
            font-weight: 600;
        }
        &::before {
            content: "";
            background-image: url("../images/telegram.svg");
            position: absolute;
            width: 26px;
            height: 26px;
            display: block;
            left: -35px;
            top: -5px;
            @media (max-width: 670px) {
                left: unset;
            }
        }
    }

    // .content__social-item--phone

    &__social-item--phone {
        &:hover {
            color: #dc1414;
        }
        @media (max-width: 700px) {
            padding-right: unset;
        }
    }

    // .content__banner

    &__banner {
        background-image: url(../images/banner-bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-bottom: 16px;
    }

    // .content__wrap

    &__wrap {
        padding-top: 90px;
        margin-left: 224px;
        @media (max-width: 1100px) {
            max-width: 620px;
            margin: 0 auto;
        }
        @media (max-width: 768px) {
            padding-top: 124px;
        }
        @media (max-width: 700px) {
            padding-top: 64px;
        }
    }

    // .content__title

    &__title {
        font-family: "Playfair Display";
        font-size: 56px;
        color: #485058;
        text-transform: uppercase;
        font-weight: 400;
        @media (max-width: 700px) {
            font-size: 30px;
            letter-spacing: -0.3px;
        }
        @media (max-width: 360px) {
            font-size: 26px;
        }
    }

    // .content__subtitle

    &__subtitle {
        font-family: "Playfair Display";
        font-size: 40px;
        color: #485058;
        font-weight: 400;
        @media (max-width: 700px) {
            font-size: 24px;
            letter-spacing: -0.3px;
        }
        @media (max-width: 360px) {
            font-size: 21px;
        }
    }

    // .content__service

    &__service {
        display: flex;
        align-items: center;
        padding-top: 26px;
        padding-bottom: 48px;
        @media (max-width: 1100px) {
            justify-content: center;
        }
        @media (max-width: 700px) {
            padding-top: 19px;
            padding-bottom: 32px;
        }
    }

    // .content__service-img

    &__service-img {
        width: 128px;
        @media (max-width: 700px) {
            width: 80px;
        }
    }

    // .content__service-text

    &__service-text {
        margin-left: 16px;
        width: 468px;
        font-size: 18px;
        line-height: 26px;
        font-family: "Helvetica Neue";
        & span {
            color: #dc1414;
        }
        @media (max-width: 700px) {
            font-size: 16px;
        }
    }

    // .content__form

    &__form {
        max-width: 380px;
        padding-bottom: 24px;
        @media (max-width: 420px) {
            width: unset;
        }
    }

    // .content__form-input

    &__form-input {
        padding: 18px 16px 17px;
        width: 100%;
        border-radius: 8px;
        border: 1px solid #babec2;
        background-color: #ffffff;
        font-family: "Helvetica Neue";
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 16px;
        &:focus {
            outline: none;
            border: 1px solid #dc1414;
        }
    }

    // .content__form-btn

    &__form-btn {
        color: #ffffff;
        font-family: "Helvetica Neue";
        font-size: 20px;
        background-color: #dc1414;
        border: 1px solid transparent;
        border-radius: 8px;
        width: 100%;
        height: 56px;
        cursor: pointer;
        &:active {
            transform: scale(0.99);
        }
        &:focus {
            outline: none;
        }
    }

    // .content__banner-link

    &__banner-link {
        color: #485058;
        font-family: "Helvetica Neue";
        font-size: 18px;
        text-decoration: underline;
        transition: 0.2s ease;
        &:hover {
            color: #dc1414;
        }
    }

    // .content__text-info

    &__text-info {
        width: 380px;
        margin-top: 82px;
        color: #808890;
        font-family: "Helvetica Neue";
        font-size: 12px;
        font-weight: 300;
        & a {
            text-decoration: underline;
        }
        @media (max-width: 1100px) {
            margin-top: 82px;
        }
        @media (max-width: 768px) {
            margin-top: 223px;
        }
        @media (max-width: 700px) {
            margin-top: 19px;
            width: 100%;
        }
    }

    &__popup {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 130px;
        left: 0;
        background-color: #ffffff;
        @media (max-width: 360px) {
            top: 124px;
        }
    }
}

.popup {
    // .popup__wrap

    &__wrap {
        max-width: 380px;
        margin: 0 auto;
        margin-top: 128px;
        position: relative;
    }

    // .popup__title

    &__title {
        font-family: "Playfair Display";
        font-size: 32px;
        font-weight: 400;
        margin-bottom: 32px;
    }
    &__btn {
        color: #808890;
        cursor: pointer;
    }
    &__cancel-btn {
        position: absolute;
        display: inline-block;
        width: 20px;
        top: -100px;
        right: 15px;
        @media (max-width: 360px) {
            width: 16px;
        }
    }
}

/* Thanks page */

.thankful {
    // .thankful__inner

    &__inner {
        padding-top: 141px;
        padding-bottom: 100px;
        @media (max-width: 768px) {
            padding-top: 155px;
            padding-bottom: 7px;
        }
        @media (max-width: 360px) {
            padding-top: 197px;
            padding-bottom: 7px;
        }
    }

    // .thankful__subtitle

    &__caption {
        padding-left: 225px;
        @media (max-width: 768px) {
            padding-left: 63px;
        }
        @media (max-width: 360px) {
            padding-left: 0;
        }
    }

    &__subtitle {
        font-family: "Futura PT Book";
        font-size: 22px;
        font-weight: 300;
        color: #808890;
        text-transform: uppercase;
        letter-spacing: 7px;
        line-height: 24px;
        margin-bottom: 16px;
        @media (max-width: 768px) {
            font-size: 16px;
        }
        @media (max-width: 360px) {
            font-size: 14px;
            line-height: 20px;
        }
    }

    // .thankful__title

    &__title {
        color: #485058;
        font-family: "Playfair Display";
        font-size: 64px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 72px;
        margin-bottom: 45px;
        @media (max-width: 768px) {
            font-size: 40px;
            line-height: 48px;
        }
        @media (max-width: 360px) {
            font-size: 32px;
            line-height: 40px;
        }
    }

    // .thankful__btn

    &__btn {
        max-width: 328px;
        height: 48px;
    }

    // .thankful__item-wrap

    &__item-wrap {
        display: flex;
        justify-content: space-between;
        margin-top: 202px;
        align-items: center;
        flex-wrap: wrap;
        @media (max-width: 360px) {
            margin-top: 100px;
        }
    }

    &__item {
        @media (max-width: 768px) {
            flex-basis: 50%;
            text-align: center;
            margin-bottom: 48px;
        }
        @media (max-width: 360px) {
            flex-basis: 100%;
            text-align: center;
            margin-bottom: 48px;
        }
    }

    // .thankful__item-img

    &__item-img {
        width: auto;
        height: 80px;
        margin: 0 auto;
    }

    // .thankful__item-title

    &__item-title {
        margin-top: 16px;
        color: #485058;
        font-family: "Playfair Display";
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 24px;
    }
}
